*{
    box-sizing: border-box;
    background: #E5E5E5;
}
.body{
    position: relative;
    width: 1440px;
    height: 844px;
    background: #FFFFFF;
    border: 1px blue;
    left: 100px;
    margin: 0 auto;
    top: 50px;
    
}
.p-text{
    position: absolute;
    padding-top: 2px;
    background: blue;
}
.header{
    /* Хедер */
    position: absolute;
    width: 1440px;
    height: 89px;
    left: 0px;
    top: 0px;


}
.header__text-header{
    /* Адресная книга */
    /*width: 403px;*/
    /*height: 63px;*/
    padding-left: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;

    color: #FFFFFF;

}
.content__text-content{
    /* A  and Б */
    position: absolute;
    width: 19px;
    height: 33px;
    padding-left: 13px;
    padding-top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #FFFFFF;

}
.position-text{

    padding-top: 5px;
    width: auto;
    left: 13px;
    padding-bottom: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;

    color: #000000;

}
.content_prokrutka {

    position: fixed;
    top: 54px;
    width:1080px;
    height:700px;
    right: 25px;
    left: 335px;
    background: #E5E5E5;
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
    overflow-x: hidden; /* свойство для прокрутки по горизонтали.*/
}
.header__text-header_background {
    /* Rectangle 1 */
    width: 100%;
    height: 89px;
    background: #590BFF;

}
.content__text-content_background{
    /* Rectangle 4 */


    position: sticky;
    width: 1080px;
    height: 41px;
    left: 0px;
    top: 0px;

    background: #590BFF;
}

.content{
    /* Контент */
    position: absolute;
    width: 1080px;
    height: 699px;
    left: 335px;
    top: 143px;

}
.sidebar{
    /* Сайдбар */
    position: absolute;
    width: 282px;
    height: 457px;
    left: 5px;
    top: 136px;
}
.Rectangle2{
    /* Rectangle 2 */
    position: absolute;
    width: 2px;
    height: 451px;
    left: 280px;
    padding-top: 2px;

    background: #C4C4C4;
}
.sidebar__text-sidebar-1{
    /* Полезные ссылки */


    position: absolute;
    width: 240px;
    height: 33px;
    left: 20px;
    top: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #000000;

}
.sidebar__text-sidebar-2{
    /* Поисковик Google */


    position: absolute;
    width: 206px;
    height: 28px;
    left: 20px;
    top: 71px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;

    color: #FF710B;
}
.sidebar__text-sidebar-3{
    /* Поисковик Yandex */


    position: absolute;
    width: 209px;
    height: 28px;
    left: 20px;
    top: 111px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;

    color: #FF710B;
}
.sidebar__text-sidebar-4{
    /* Поисковик Mail.ru */


    position: absolute;
    width: 204px;
    height: 28px;
    left: 20px;
    top: 151px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;

    color: #FF710B;
}